body {
    display: flex;
    flex-direction: column;


    
    font-family: 'Arial';
    

    align-items: center;





    text-align: center;

    background-color: #f9fafb;


}


header {
    display: flex;
    flex-direction: column;


    text-align: left;

    width: 770px;

    
    padding: 30px;

    padding-left: 50px;

}


main {
    display: flex;
    flex-direction: column;
    width: 770px;

    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid #f9fafb;






}



.block {
    display: flex;


    height: 30px;
    


    padding: 40px;
    padding-left: 20px;


    gap: 2%;


    border-radius: 10px;



}


.text {
    text-align: left;

}


.section-title, .section-p{
    padding: 0%;
    margin: 0%;
    
}




.section-p {
    font-size: 85%;
    color: #787f8b;
    white-space: nowrap;
}



.link-a {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    
    margin-left: auto; /* прижимает к концу */

}



.icon-a {
    width: 20px;
    height: 20px;
    padding: 15%;
}





.sector {
  border: none; /* убираем дефолтную рамку */
  border-top: 2px solid #f3f3f3; /* верхняя граница с цветом */
  margin: 10px 0;
}


img {
    width: 50px;
    height: 50px;
}


footer {
    display: none;
}


@media (min-width: 1200px) {
    main, header, footer {
        max-width: 1100px;
    }
}


@media (max-width: 800px) {
    header, main {
        display: flex;
        width: 80%;



        margin-top: auto;
        padding: 3%;


    }



    header {
        text-align: center;
    }


    .block {
        display: flex;
        height: 100%;
        width: 80%;

        padding-left: 0%;
    
        padding: 5%;

        align-items: center;

        gap: 10%;
    }


    .section-title {
        font-size: 120%;
    }


    .section-p {
        font-size: 90%;
        white-space: normal;

        
    }

    .link-a {
        display: none;
    }


    footer {
        display: block;
        padding: 5%;
    }
    
}